body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/logo.lnk);
  background-repeat: no-repeat;
  background-position-x: center;
}
.login{
  background-color: rgba(0, 162, 180, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  color: white;
  border-radius: 15px;
}

input{
  padding: 12px;
  border: none;
  outline: none;
  font-size: 20px;
}
button{
  background-color: rgb(1, 88, 219);
  border: none;
  padding: 15px;
  width: 78%;
  color: white;
  font-size: 15px;
}
button:hover{
  background-color: rgba(0, 162, 180, 0.8);
  cursor: pointer;
}